<!DOCTYPE html>
<html class="dark" lang="en" th:fragment="parent(content, title, script)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">SCM</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
</head>
<body class=" dark:bg-gray-900 text-white">
    <div data-th-replace="navbar :: navbar"> </div>
    <div class="p-4">
        <br>
        <br>
        <br>
        <section data-th-replace="${content}"></section>
    </div>

   
    
    <footer>SpardhA vARSHNEY</footer>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <th:block data-th-replace="${script}"></th:block>
</body>
</html>